@model KaraokeProject.Models.TaiKhoan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col w3-center">
                <h3 class="page-title mt-5">Xóa Tài khoản "@ViewBag.ID"?</h3>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="w3-center">
            <input type="submit" value="Xóa" class="btn btn-danger w3-margin-right" />
            <input type="button" value="Hủy" class="btn btn-secondary" onclick="window.location.href = '@Url.Action("Index", "TaiKhoans")'" />
        </div>
    }
</div>
